<div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
  <base-card class="mdl-card mdl-shadow--2dp">
    <base-card-title class="mdl-card__title">
      <h5 class="mdl-card__title-text text-color--white">Criando uma Nova Aula</h5>
    </base-card-title>
    <base-card-body class="mdl-card__supporting-text">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article">
            <h3 class="text-color--smooth-gray">Informações da aula</h3>
            <div class="mdl-textfield mdl-js-textfield full-size is-upgraded" data-upgraded=",MaterialTextfield"><input
                class="mdl-textfield__input" id="first-name" type="text" placeholder="Título da aula"></div>
            <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone form__article employer-form__general_skills">
              <h3>Conteúdo da aula</h3>
              <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded"
                data-upgraded=",MaterialTextfield"><textarea style="width: 500px;" class="mdl-textfield__input" id="AboutMe" rows="5" type="text"
                  spellcheck="false" placeholder="conteúdo resumido da aula"></textarea></div>
            </div>
            <li class="mdl-list__item"><button
                class="mdl-button mdl-js-button mdl-js-ripple-effect button--colored-green"
                data-upgraded=",MaterialButton,MaterialRipple"><i class="material-icons">attach_file</i> Adicionar
                material <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"
                    style="width: 252.837px; height: 252.837px; transform: translate(-50%, -50%) translate(89px, 19px);"></span></span></button>
            </li>
          </div>
        </div>

        <div class="form__action">
              <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="submit_button" data-upgraded=",MaterialButton"> Salvar </button></div>
    </base-card-body>
  </base-card>
</div>