
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Teste</th>
    </tr>
  </thead>
  <tbody>
    <tr> <!-- *ngFor="let item of data" [class.is-selected]="item.isSelected" -->
      <td class="mdl-data-table__cell--non-numeric">Teste</td>
      <td class="mdl-data-table__cell--non-numeric">
        <span> Teste </span>
      </td>
      <td class="mdl-data-table__cell--non-numeric"> teste@gmail.com </td>
      <td class="mdl-data-table__cell--non-numeric"> teste 15 </td>
      <td class="mdl-data-table__cell--non-numeric">
        teste
      </td>
      <td class="mdl-data-table__cell--non-numeric task-done">
        <i class="material-icons"> Teste </i>
        <span> Teste </span>
      </td>
    </tr>
  </tbody>
</table>
