<base-card>
  <base-card-title>
    <h2> Avaliação Matématica Aula 1 </h2>
    <div class="mdl-card__subtitle"> Caro aluno, preencha as questões abaixo: </div>
  </base-card-title>
  <base-card-body>
  
    <form action="#" class="form">

      <div class="form__article">
        <h3>Questão 1</h3>

        <div class="mdl-grid">

            <ul class="mdl-list pull-left">
              <li class="mdl-list__item">
                <span class="text-color--gray"> 
                    Para a instalação de um ar-condicionado residencial deve ser feito o cálculo da capacidade térmica do equipamento em BTUs, levando em consideração as seguintes informações:<br><br>
                    1. Para cada metro quadrado, multiplica-se por 600 BTUs.<br>
                    <br>
                    2. Cada pessoa adicional, soma 600 BTUs (a primeira pessoa não é contabilizada).<br>
                    <br>
                    3. Cada equipamento eletrônico, soma 600 BTUs.<br>
                    <br>
                    Dessa forma, para um quarto de 24 m2 , que acomoda um casal, e que tem cinco equipamentos eletrônicos, devemos instalar um ar-condicionado com capacidade térmica de quantos BTUs?
                </span>
              </li>
              <li class="mdl-list__item">
                <label baseRadioButton name="questao1" value="1" color="green">7.500.</label>
                <label baseRadioButton name="questao1" value="2" color="orange">9.000.</label>
                <label baseRadioButton name="questao1" value="3" color="purple">18.000.</label>
                <label baseRadioButton name="questao1" value="4" color="red" checked>21.000.</label>
              </li>
            </ul>
        </div>

        <div class="form__article">

            <h3>Questão 2</h3>

            <ul class="mdl-list pull-left">
                <li class="mdl-list__item">
                  <span class="text-color--gray"> 
                      Um determinado medicamento deve ser administrado a um doente três vezes ao dia, em doses de 5 ml cada vez, durante 20 dias. Se cada frasco contém 100 cm3 do medicamento, a quantidade mínima de frascos necessários para atender esse doente é
                  </span>
                </li>
                <li class="mdl-list__item">
                  <label baseRadioButton name="questao2" value="1" color="green" checked>4.</label>
                  <label baseRadioButton name="questao2" value="2" color="orange">3.</label>
                  <label baseRadioButton name="questao2" value="3" color="purple">2.</label>
                  <label baseRadioButton name="questao2" value="4" color="red">1.</label>
                </li>
              </ul>

        </div>

        <div class="form__article">

            <h3>Questão 3</h3>

            <ul class="mdl-list pull-left">
                <li class="mdl-list__item">
                  <span class="text-color--gray"> 
                      No exame de seleção para ingresso no IFAL, 45% dos candidatos eram do sexo masculino. Quantos candidatos do sexo feminino havia no exame, sabendo que, ao todo, eram 5.000 candidatos?
                  </span>
                </li>
                <li class="mdl-list__item">
                  <label baseRadioButton name="questao3" value="1" color="green">1.750.</label>
                  <label baseRadioButton name="questao3" value="2" color="orange">2.000.</label>
                  <label baseRadioButton name="questao3" value="3" color="purple" checked>2.250.</label>
                  <label baseRadioButton name="questao3" value="4" color="red">2.500.</label>
                </li>
              </ul>
              
        </div>

        <div class="form__article">

            <h3>Questão 4</h3>

            <ul class="mdl-list pull-left">
                <li class="mdl-list__item">
                  <span class="text-color--gray"> 
                      Em alguns países anglo-saxões, a unidade de volume utilizada para indicar o conteúdo de alguns recipientes é a onça fluida britânica. O volume de uma onça fluida britânica corresponde a 28,4130625 mL.<br>
                      <br>
                      A título de simplificação, considere uma onça fluida britânica correspondendo a 28 mL.<br>
                      <br>
                      Nessas condições, o volume de um recipiente com capacidade de 400 onças fluidas britânicas, em cmª, é igual a 
                  </span>
                </li>
                <li class="mdl-list__item">
                  <label baseRadioButton name="questao4" value="1" color="green">11200.</label>
                  <label baseRadioButton name="questao4" value="2" color="orange" checked>1 120.</label>
                  <label baseRadioButton name="questao4" value="3" color="purple">112.</label>
                  <label baseRadioButton name="questao4" value="4" color="red">11,2.</label>
                </li>
              </ul>
              
        </div>

        <div class="form__article">

          <h3> Questões 5 </h3>

          <ul class="mdl-list pull-left">
            <li class="mdl-list__item">
              <span class="text-color--gray"> 
                  Em junho deste ano, os britânicos aprovaram em um referendo a proposta de sair da União Europeia (Brexit). O Reino Unido faz parte da União Europeia, mas não aderiu à União Econômica e Monetária (UEM), por essa razão, jamais adotou o euro e manteve a libra esterlina como sua moeda oficial. Supondo que 1 euro seja equivalente a 0,90 libras e que 1 libra possa valer 4,10 reais, com o montante de R$ 41,00 compramos: 
              </span>
            </li>
            <li class="mdl-list__item">
                <label baseCheckbox color="green" checked>9 libras</label>
                <label baseCheckbox color="orange">10 libras</label>
                <label baseCheckbox color="purple">10 euros</label>
                <label baseCheckbox color="red" checked>4,6 libras</label>
            </li>
          </ul>

        </div>

        <div class="form__article">
            <div class="form__article employer-form__general_skills">
                <h3> 
                    Questão 6
                </h3>
                <li class="mdl-list__item">
                    <span class="text-color--gray">
                        Uma indústria tem um setor totalmente automatizado. São quatro maquinas iguais, que trabalham simultânea e ininterruptamente durante uma jornada de 6 horas. Após esse período, as maquinas são desligadas por 30 minutos para manutenção. Se alguma maquina precisar de mais manutenção, ficara parada até a próxima manutenção. <br><br>
                        Certo dia, era necessário que as quatro máquinas produzissem um total de 9 000 itens. O trabalho começou a ser feito às 8 horas. Durante uma jornada de 6 horas, produziram 6 000 itens, mas na manutenção observou-se que uma maquina precisava ficar parada. Quando o serviço foi finalizado, as três maquinas que continuaram operando passaram por uma nova manutenção, chamada manutenção de esgotamento. <br><br>
                        Em que horario começou a manutenção de esgotamento? 
                    </span> 
                </li>
                <li class="mdl-list__item">
                        
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" rows="3" id="AboutMe"></textarea>
                    <label class="mdl-textfield__label" for="AboutMe">
                        Explique com sua palavras, no mínimo 150 caracteres.
                    </label>
                  </div>
                </li>
              </div>
        </div>



<!--         <span>Type of employment:</span>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="partition-fulltime">
          <input type="radio" id="partition-fulltime" class="mdl-radio__button" name="employment" value="1" checked/>
          <span class="mdl-radio__label">Fulltime</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="partition-partTime">
          <input type="radio" id="partition-partTime" class="mdl-radio__button" name="employment" value="2"/>
          <span class="mdl-radio__label">Part time</span>
        </label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="partition-remote">
          <input type="radio" id="partition-remote" class="mdl-radio__button" name="employment" value="3"/>
          <span class="mdl-radio__label">Remote</span>
        </label> -->

        
      </div>

      <div class="form__article employer-form__contacts">
<!--         <h3>Contacts</h3>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col input-group">
            <i class="material-icons pull-left">call</i>

            <div class="mdl-textfield mdl-js-textfield pull-left">
              <input class="mdl-textfield__input" type="text" id="phone">
              <label class="mdl-textfield__label" for="phone">XXX-XX-XX</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--3-col">
            <material-angular-select [data]="['Mobile', 'Home', 'Work']"
                                  [name]="'phone_type'"
                                  [currentValue]="'Mobile'"></material-angular-select>
          </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col input-group">
            <img src="assets/images/skype.svg">

            <div class="mdl-textfield mdl-js-textfield pull-left">
              <input class="mdl-textfield__input" type="text" id="skype" value="Pilot_luke"/>
              <label class="mdl-textfield__label" for="skype">Skype</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--3-col">
            <material-angular-select [data]="['Personal', 'Work']"
                                  [name]="'skype_type'"
                                  [currentValue]="'Personal'"></material-angular-select>
          </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col input-group">
            <i class="material-icons pull-left">mail_outline</i>

            <div class="mdl-textfield mdl-js-textfield pull-left">
              <input class="mdl-textfield__input" type="text" id="email" value="luke@skywalker.com"/>
              <label class="mdl-textfield__label" for="email">Email</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--3-col">
            <material-angular-select [data]="['Personal', 'Work']"
                                  [name]="'email_type'"
                                  [currentValue]="'Work'"></material-angular-select>
          </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--9-col input-group">
            <i class="material-icons pull-left">place</i>

            <div class="mdl-textfield mdl-js-textfield pull-left">
              <input class="mdl-textfield__input" type="text" id="address"/>
              <label class="mdl-textfield__label" for="address">Address</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--3-col">
            <material-angular-select [data]="['Home', 'Work']"
                                  [name]="'address_type'"
                                  [currentValue]="'Home'"></material-angular-select>
          </div>
        </div> -->
      </div> 

      <div class="form__article employer-form__general_skills">
<!--         <h3>General skills</h3>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows="3" id="AboutMe"></textarea>
          <label class="mdl-textfield__label" for="AboutMe">About me</label>
        </div> -->
      </div> 

      <div class="form__action">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isInfoReliable">
          <input #isInfoReliable type="checkbox" id="isInfoReliable" class="mdl-checkbox__input" required/> Terminou a prova?
        </label>
        <button [disabled]="!isInfoReliable.checked" id="submit_button" 
                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Finalizar
        </button>
      </div>

    </form>
  </base-card-body>
</base-card>