<div
  class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--top">
      <base-card class="mdl-card mdl-shadow--2dp">
        <base-card-title>
          <h1 class="mdl-card__title-text">Estudantes Inscritos</h1>
        </base-card-title>
        <base-card-body class="md1-card__supporting-text">
          <ul class="mdl-list">
            <li *ngFor="let item of lista; let i = index" class="mdl-list__item mdl-list__item--two-line" (click)="selecionarTrilhaEstudante(item.id);">
              <span class="mdl-list__item-primary-content list__item-text">
                <div class="mdl-list__item-avatar">
                  <img width="100%" src="assets/images/{{ item.image }}">
                </div>
                <span>{{ item.name }}</span>
                <span class="mdl-list__item-sub-title">{{ item.description }}</span>
                <br>
                <span class="md3-list__item-sub-title">
                    <base-progress color="light-blue" progress="{{ item.progresso }}" ></base-progress>
                    {{ item.progresso }}%
                </span>
                
              </span>
            </li>
          </ul>
        </base-card-body>
      </base-card>
    </div>

   
  <!-- </div>  -->
</div>
