<div
  class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">

    <div *ngFor="let curso of cursos" class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
      <base-card>
        <base-card-title>
          <h2 class="mdl-card__title-text">{{ curso.nome }}</h2>
        </base-card-title>
        <base-card-body expanded>
          <b>{{curso.qtdAulas}} Aulas</b> | <b>{{curso.horas}} Horas</b>
          <br>
          {{ curso.descricao }}
          <br>
          
        </base-card-body>
        <base-card-actions class="mdl-card--border">
          <button (click)="redirecinarTrilhaCurso({id:age})" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-teal">
            <i class="material-icons">forward</i>
            Acessar
          </button>
        </base-card-actions>
      </base-card>
    </div>
</div>
