
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">  </h3>
      <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
        <base-card>
          <base-card-title>
            <h2 class="mdl-card__title-text">MATEMÁTICA</h2>
          </base-card-title>
        </base-card>
      </div>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive"
                src="https://i.udemycdn.com/course/750x422/2161520_1320_2.jpg" style="height:186px; width:186px">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4> Matemática Básica </h4>
              <h4 class="subheading"> Carga horária: 60 horas </h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                
                Números naturais, inteiros, racionais e reais. Progressão aritmética e geométrica. Produtos
                notáveis fatoração e equação do segundo grau. Resolução de equações e inequações.
                Trigonometria no triângulo retângulo. Noção de função real. Função afim. 

              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive"
                src="https://vt-vtwa-assets.varsitytutors.com/vt-vtwa/uploads/problem_question_image/image/29034/Lines.jpg" style="height:186px; width:186px">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4> Geometria Plana </h4>
              <h4 class="subheading"> Carga horária: 60 horas </h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                
                Noções elementares. Congruência de triângulos. Polígonos convexos. Ângulos em uma
circunferência. Quadriláteros notáveis. Pontos notáveis de um triângulo. Segmentos
proporcionais e triângulos semelhantes. Triângulo Retângulo e triângulo qualquer. Polígonos
regulares Comprimento de uma circunferência. Áreas de superfícies planas.  

              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive"
                src="https://t1.ftcdn.net/jpg/02/00/46/34/400_F_200463419_UY4Qjrk3XJ34aSjtGINd1SFI06S2ajTu.jpg" style="height:186px; width:186px">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4> Geometria Espacial </h4>
              <h4 class="subheading"> Carga horária: 70 horas </h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                
                Introdução à Geometria Espacial. Paralelismo. Perpendicularismo. Projeção ortogonal.
Distância, ângulos, diedros e triedros. Superfície poliédrica. Poliedros. Prisma. Pirâmide.
Cilindro de revolução. Cone de revolução. Esfera. Sólidos semelhantes. Troncos. Inscrição e
circunscrição de sólidos. 

              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive"
                src="https://upload.wikimedia.org/wikipedia/commons/9/90/Integral_as_region_under_curve.png" style="height:186px; width:186px; background: white;">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4> Cálculo I </h4>
              <h4 class="subheading"> Carga horária: 80 horas </h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                
                Funções reais de uma variável real. Limites, limites laterais e no infinito, e assíntotas.
Continuidade. Diferenciabilidade e derivadas. Regra da cadeia, derivação da função inversa,
derivação implícita Derivadas de ordem superior. Aplicações da derivada: Máximos e Mínimos,
taxas relacionadas gráficos e regra d L'Hospital. 

              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive"
                src="https://cdn2.bigcommerce.com/server2200/07743/products/1284/images/1401/calculus__10__vectorized__24303.1312684018.1280.1280.jpg?c=2" style="height:186px; width:186px">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4> Cálculo II </h4>
              <h4 class="subheading"> Carga horária: 90 horas </h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                
                Integral definida. Teorema Fundamental do Cálculo. Técnicas de integração: substituição
simples por partes, frações parciais, integração de potências e produtos de funções
trigonométricas Integrais Impróprias e critérios de convergência. Cálculo de áreas, volumes e
comprimentos Equações diferenciais de 1ª ordem: resolução por variáveis separáveis,
equações lineares e Homogêneas  

              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>